$navTextColour: #CCCCC9;
$bgColour: #CCCCC9;
$navBGColour: #291D67;
$headingColour: #291D67;
$lineColour: #6D6D6C;
$font-stack: Calibri;
$font-weight-light: 100;
$font-weight-normal: 400;
$headerFontSize: 4em;
$pageTitleFontSize: 5em;
$navFontSize: 1.5em;
$mediumFontSize: 1.2em;
$detailFontSize: 2em;
$footerMobileFontSize: 2em;
//product page
$productMargin: 10px;
$max-product-image-width: 35em;
$maxPageWidth: 90em;

//navbar
$content-width: 1000px;
$breakpoint: 1000px;
$nav-height: 70px;
$link-hover-color: #2581DC;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin fade-animation($length) {
    -webkit-animation: fadein $length; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein $length; /* Firefox < 16 */
    -ms-animation: fadein $length; /* Internet Explorer */
    -o-animation: fadein $length; /* Opera < 12.1 */
    animation: fadein $length;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    font-family: $font-stack;
    margin: 0 0 0 0;
    background-color: #EEEEEC;
    @include fade-animation(1s);
}

//Nav
nav {
    float: right;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            position: relative;

            a {
                display: block;
                padding: 0 20px;
                line-height: $nav-height;
                background: $navBGColour;
                color: $navTextColour;
                text-decoration: none;
                border: 2px solid $navBGColour;
                border-bottom: none;
                border-top: none;
                //border-left: none;
                //@include border-radius(4px);
                &:hover {
                    transition: ease-in-out 0.5s;
                    border-color: $navTextColour;
                    color: $navTextColour;
                }

                &:not(:only-child):after {
                    padding-left: 4px;
                    content: ' ▾';
                }
            }

            ul li {
                min-width: 190px;

                & a {
                    padding: 15px;
                    line-height: 20px;
                    z-index: 1;
                }
            }
        }
    }
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: $navBGColour;
    height: $nav-height;
    width: $nav-height;
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;

    span,
    span:before,
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: $navTextColour;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

    span:before {
        top: -10px;
    }

    span:after {
        bottom: -10px;
    }

    &.active span {
        background-color: transparent;

        &:before,
        &:after {
            top: 0;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}

@media only screen and (max-width: $breakpoint) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: $nav-height 0 15px;

        ul {
            display: none;

            li {
                float: none;

                a {
                    padding: 15px;
                    line-height: 20px;
                }

                ul li a {
                    padding-left: 30px;
                }
            }
        }
    }

    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: $breakpoint) {
    .nav-list {
        display: block !important;
    }
}

.navigation {
    height: $nav-height;
    background: $navBGColour;
}

.nav-container {
    max-width: $content-width;
    margin: 0 auto;
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 1.4em;

    a,
    a:visited {
        color: $navTextColour;
        text-decoration: none;
    }

    h1 {
        margin: 0 0 0 0;
        font-weight: $font-weight-light;
        font-size: 2em;
    }
}
//Flex for info and img
#content-wrapper {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    //align-items: center;
    justify-content: center;
    max-width: $maxPageWidth;
}

@media screen and (max-width: $breakpoint) {
    #content-wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
}

//product textbox formatting
#painting-info {
    margin-right: $productMargin;
    margin-left: $productMargin;

    #product-title {
        font-size: $detailFontSize + 1;
        margin: 0 0 0 0;
        font-weight: $font-weight-light;
    }

    #product-date {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: $detailFontSize;
        font-weight: $font-weight-light;
    }
}
//expanding details
#detail {
    margin-bottom: 30px;
    padding: 10px 10px 10px 5px;
    margin-right: 20px;
    border: 1px solid $lineColour;
    @include border-radius(4px);

    h3 {
        margin: 0 0 10px 0;
        display: block;
        font-weight: $font-weight-light;
        font-size: $detailFontSize;
    }

    h4 {
        display: inline;
        margin: 0 0 0 0;
        margin-top: 10px;
    }

    p {
        margin: 0 0 0 0;
        display: inline;
    }
}

//product imagebox formatting
#painting-image {
    margin-right: $productMargin * 6;
    margin-left: $productMargin*6;
    margin-bottom: 100px;

    img {
        max-width: $max-product-image-width;
        max-width: $max-product-image-width*1.5;
    }
}

@media screen and (min-width: $breakpoint) {
    #painting-image {
        img {
            margin-top: 122px;
            max-width: $max-product-image-width;
        }
    }
}

//product author
#artist-title {
    text-decoration: none;

    section {
        margin: 20px $productMargin*6 40px $productMargin*6;
        border: 1px solid $lineColour;
        @include border-radius(10px);
        border-right: none;
        border-left: none;
    }

    h2 {
        margin: 0 0 10px 0;
        color: $headingColour;
        font-size: $pageTitleFontSize;
        font-weight: $font-weight-light;
        text-align: center;
        text-transform: uppercase;
    }
}
/*
@media screen and (min-width: $breakpoint) {
    #artist-title {
        h2 {
            margin-left: 75px;
        }
    }
}
    */
#artist-title:hover {
    section {
        transition: ease-in-out 0.3s;
        border-color: $navTextColour;
    }
}

//Image formatting and caption

//text formatting

//footer
footer {
    background-color: $navBGColour;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $navTextColour;

    div {
        margin-right: $productMargin * 6;
    }
}

@media screen and (max-width: $breakpoint) {
    footer {
        flex-direction: column;
        font-size: $footerMobileFontSize;
    }
}